@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger{
    cursor:pointer;
    width:24px;
    height:24px;
    transition: all 0.25s;
    position:relative;
}
.open{
    display:none;
}
/* the slide */
.checkbtn{
    display:block;
    border:2px solid green;
    
 
}
.checkbtn{
border:2px solid green;
margin-top:7px;
width:40px;
display:grid;
grid-template-columns: 1fr;

}  

#check:checked ~ sides{
    left:0;
}
.search{
    display:none;
}
.search svg{
    display:none
}
/* route transitions  */
/* .page-opacity-enter-active,
.page-opacity-leave-active{
  transition:600ms ease-in;
}
.page-opacity-enter-from
.page-opacity-leave-to{
  opacity:0;  
} */