@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger{
    cursor:pointer;
    width:24px;
    height:24px;
    transition: all 0.25s;
    position:relative;
}
.open{
    display:none;
}
